{% load i18n %}
{% load icons %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<link rel='stylesheet' type='text/css' href='/static/css/style.css' />
	<title>Remote Manager</title>
	{% block head %}
	{% endblock %}
</head>

<body>

	<div id="page-wrap">

        <header>
		<div class="langselect-container">
		{% get_language_info for LANGUAGE_CODE as lang %}
		<form class="langselect" name="setLangFrench" action="/i18n/setlang/" method="POST">{% csrf_token %}
		<input name="next" type="hidden" value="/" />
		<input type="hidden" name="language" value="fr" />
		<a href="#" onclick="document.setLangFrench.submit();return false;"><img {% iconsrc 'fr' %} class="icon icon-link{% if lang.code == 'fr' %} icon-selected{% else %} icon-unselected{% endif %}"></a>
		</form>
		<form class="langselect" name="setLangEnglish" action="/i18n/setlang/" method="POST">{% csrf_token %}
		<input name="next" type="hidden" value="/" />
		<input type="hidden" name="language" value="en" />
		<a href="#" onclick="document.setLangEnglish.submit();return false;"><img {% iconsrc 'en' %} class="icon icon-link{% if lang.code == 'en' %} icon-selected{% else %} icon-unselected{% endif %}"></a>
		</form>
		</div>

		<h1>Remote Manager</h1>
		{% if user.is_authenticated %}
		<p>{% icon 'user' %} <em>{{ user.username }}</em>, <a href="/logout/">{% trans 'Log out' %}</a></p>
		
		<nav>
			<ul class="group">
				
				<li><a href="/">{% trans 'System status' %}</a></li>
				<li><a href="/charts/timeline/">{% trans 'Statistics' %}</a></li>
				<li><a href="/rtcmd/">{% trans 'Real-time commands' %}</a></li>
				<li><a href="/loader/">Program loader</a></li>
				
			</ul>
		</nav>
		{% endif %}
	</header>
		
		<section id="main-content">
		<div id="guts">
		{% block content %}
		{% endblock %}
		</div>
		</section>
		
	</div>
	
	<footer>
	  Remote Management system - &copy;2013 Damien Dando
	</footer>

</body>
</html>
