{% extends 'base.html' %}
{% load i18n %}
{% load icons %}

{% block content %}

<h2>{% trans 'System status' %}</h2>

	<table class="list">
		<thead>
			<tr>
				<th>{% trans 'RemoteDevice name' %}</th>
				<th>{% trans 'Last connection' %}</th>
				<th>{% trans 'Last status request' %}</th>
			</tr>
		</thead>

		<tbody>
		{% for remotedevice in remotedevices %}
			<tr>
				<td>{% if remotedevice.remotedevice_mode == 'BT' %}{% icon 'bluetooth' %}{% elif remotedevice.remotedevice_mode == 'USB' %}{% icon 'usb' %}{% endif %} {{remotedevice.remotedevice_name}}</a></td>
				<td>{% if remotedevice.remotedevice_last_connection_attempt %}{{remotedevice.remotedevice_last_connection_attempt|timesince}} {% if remotedevice.remotedevice_last_connection_status == 'OK' %}{% icon 'tick' %}{% elif remotedevice.remotedevice_last_connection_status == '' %}{% icon 'unknown' %}{% else %}{% icon 'cross' %}{% endif %}{% else %}-{% endif %}</td>
				<td>{% if remotedevice.remotedevice_last_status_request %}{{remotedevice.remotedevice_last_status_request|timesince}} {% if remotedevice.remotedevice_last_status == 'e0' %}{% icon 'accept' %}{% elif remotedevice.remotedevice_last_status == '' %}{% icon 'unknown' %}{% else %}{% icon 'error' %}{% endif %}{% else %}-{% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

<p>{% trans 'Last system reboot' %}: {{uptime|timesince}}</p>
{% endblock %}
