{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{{ block.super }}

{% endblock %}


{% block content %}
{{ block.super }}
<h2>Temperatures</h2>
{% if error %}
<p>{{error}}</p>
{% else %}
<div style="height:600px;width:471px;margin:10px;position:relative;text-align:center;" id="container">
	<img style="position:absolute;left:0;top:0;" src="/static/img/waterSystem.png"/>

{% for name, value, pox_x, pos_y in temperatures %}
<div style="background: white;border: 2px solid black;padding:2px;z-index:100;position:absolute;text-align:center;font-size:12px;font-weight:bold;left:{{pox_x}}px;top:{{pos_y}}px;">{{value}}</div>
{% endfor %}
</div>
{% endif %}

{% endblock %}
