{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/highstock.js"></script>
<script src="/static/js/modules/exporting.js"></script>
<script type="text/javascript">
$(function() {

		// create the chart
		$('#container').highcharts({
		    
			chart: {
				type: 'column'
			},
			title: {
				text: '{% trans 'Battery voltages' %}'
			},
			legend: {
				enabled: false
			},
			tooltip: {
				valueDecimals: 2,
				valueSuffix: 'V'
			},
			xAxis: {       
				categories: [
					'Elt. 1',
					'Elt. 2',
					'Elt. 3',
					'Elt. 4',
					'Elt. 5',
					'Elt. 6',
					'Elt. 7',
					'Elt. 8',
					'Elt. 9',
					'Elt. 10',
					'Elt. 11',
					'Elt. 12'
				]
			},

			yAxis: [{
				min: 0,
				title: {
					text: '{% trans 'Voltage' %} (V)'
				}
			}],
			series: [{
				name: '{% trans 'Voltage' %}',
				data: {{voltagesElements}}
			}]
		});
});
		</script>
{% endblock %}


{% block content %}



<script type="text/javascript">
$('#nav-rtcmd').addClass('active');
</script>
<div class="panel panel-default">
	<div class="panel-heading"><h4>{% trans 'Current battery voltages' %}</h4></div>

	<div class="panel-body">
	{% if error %}
	<div class="bs-callout bs-callout-danger">
	<h4>{{error.0}}</h4>
	{{error.1}}
	</div>
	{% else %}
	<h4>{% trans 'Total voltage' %}: {{voltageTotal}}V</h4>
	<div id="container" style="height: 350px; min-width: 500px"></div>
	{% endif %}
	</div>
</div>

{% endblock %}
