{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<script type="text/javascript">
$(window).unload(function(){});
$('#nav-rtcmd').addClass('active');
</script>
<div class="panel panel-default">
	<div class="panel-heading"><h4>{% trans 'Real-time commands' %}</h4></div>

	<div class="panel-body">
	<div class="list-group">
	<a href="/rtcmd/get/vbat/" class="list-group-item rtcmd">{% trans 'Measure battery voltages' %}</a>
	<a href="/rtcmd/get/temp/" class="list-group-item rtcmd">{% trans 'Measure temperature' %}</a>
	<script type="text/javascript">
	$(".rtcmd").click(function (event) {
		if ($(this).hasClass("clickdisabled")) {
			event.preventDefault();
		} else {
			$(this).html("<span class='glyphicon glyphicon-hourglass' aria-hidden='true'></span> remote device request in progress, please wait for few seconds...");
			$(".rtcmd").addClass("clickdisabled");
		}
	});
	</script>
	</div>
	</div>
</div>


{% endblock %}
