<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Page de test</title>
	</head>
 
	<body>
		<h1>Liste des commandes disponibles:</h1>
		<ul>
			<li><a href="bluetooth/status">Bluetooth status</a></li>
			<li><a href="bluetooth/enable">Activer Bluetooth</a></li>
			<li><a href="bluetooth/disable">Desactiver Bluetooth</a></li>
			<li><a href="bluetooth/bind">Bind</a></li>
			<li><a href="program/bluetooth">Reprogrammation via Bluetooth</a></li>
			<li><a href="program/usb">Reprogrammation via USB</a></li>
		</ul>
	</body>
</html>
