{% extends 'timeline_chart.html' %}
{% load i18n %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/js/highstock.js"></script>
<script src="/static/js/modules/exporting.js"></script>
<script type="text/javascript">
$(function() {
	var seriesOption = [], nbSeries = 0, empty=true;

	var msg = document.createElement('p');
	msg.appendChild(document.createTextNode("{% trans 'Loading...' %}"));
	document.getElementById("container").appendChild(msg);

	{% for serieplot in serieplots %}
		$.getJSON('/serie/{{serieplot.serieplot_serie.id}}/{{timestep}}/{{timezone}}/from/{{from_date|date:"Ymd"}}/to/{{to_date|date:"Ymd"}}/', 
function(data) {

			var dataLength = data.length, j;
			var serieValues = [], serieMissingPoints = [];
			
			for (j = 0; j < dataLength; j++) {
				serieValues.push([
					data[j][0], // the date
					data[j][1]  // the value
				]);
				if(data[j][2] > 0) {
					var text = "{% trans 'Missing data' %}: <br />";
					var days=0, hours=0, minutes; 
					if (data[j][2] > 1440) {
						days = data[j][2]/1440 | 0;
						text += days+'j. ';
					}
					if (data[j][2] > 60) {
						hours = (data[j][2]-days*1440)/60 | 0;
						text += hours+'h. ';
					}
					minutes = data[j][2]-days*1440-hours*60;
					text += minutes+'min. ';
					serieMissingPoints.push({
						x: data[j][0], // the date
						title: '!', // the value
						text: text
					});
				}
			}

			if (dataLength > 0) {
				empty=false;
			}

			seriesOption[{{forloop.counter0}}*2]={
				{% if serieplot.serieplot_serie.serie_type == 'SUM' %}
				type: 'column',
				{% endif %}
				name: '{{serieplot.serieplot_serie.serie_name}}',
				data: serieValues,
				id: '{{serieplot.serieplot_serie.serie_name}}',
				color: '{{serieplot.serieplot_color|safe}}',
				tooltip: {
					valueSuffix: '{{serieplot.serieplot_serie.serie_unit}}',
					valueDecimals: {{serieplot.serieplot_serie.serie_values_decimals}}
				},
				stacking: 'normal',
				stack: {{serieplot.serieplot_rank}}
			};
			seriesOption[{{forloop.counter0}}*2+1]={
				type: 'flags',
				name: '{{serieplot.serieplot_serie.serie_name}} ({% trans 'Missing data' %})',
				color: '{{serieplot.serieplot_color|safe}}',
				data: serieMissingPoints,
				onSeries: '{{serieplot.serieplot_serie.serie_name}}',
				linkedTo: '{{serieplot.serieplot_serie.serie_name}}',
				{% if serieplot.serieplot_serie.serie_type == 'SUM' %}
				shape: 'circlepin',
				{% else %}
				shape: 'circle',
				{% endif %}
				lineWidth: 2,
				style: {
		        		color: 'red'
	        		}
			};

			nbSeries=nbSeries+1;
			if (nbSeries == {{serieplots|length}}) {
				if (empty == true) {
						var msg = document.createElement('p');
						msg.appendChild(document.createTextNode("{% trans 'No data on the selected period.' %}"));
						document.getElementById("container").appendChild(msg);
				}
				else {
					$("#container").css({"height": "600px", "min-width": "500px"});
					createChart();
				}
			}
		})
		.error(function(jqXHR, textStatus, errorThrown) {
			var errorMsg = document.createElement('p');
			errorMsg.appendChild(document.createTextNode("{% trans 'Error when loading data from' %} \"{{serieplot.serieplot_serie.serie_name}}\":"+textStatus));
			document.getElementById("container").appendChild(errorMsg);
		});
	{% endfor %}

	function createChart() {
	// create the chart
	$('#container').highcharts('StockChart', {
		    
		rangeSelector: {
			selected: 0,
			buttons: [
			{% if timestep == 'hour' %}
			{
				type: 'hour',
				count: 24,
				text: '24h'
			}, {
				type: 'hour',
				count: 48,
				text: '48h'
			}, {
				type: 'hour',
				count: 72,
				text: '72h'
			},
			{% endif %}
			{% if timestep == 'day' %}
			{
				type: 'day',
				count: 10,
				text: '10j'
			}, {
				type: 'day',
				count: 30,
				text: '30j'
			},
			{% endif %}
			{% if timestep == 'month' %}
			{
				type: 'month',
				count: 3,
				text: '3m'
			}, {
				type: 'month',
				count: 12,
				text: '12m'
			},
			{% endif %}
			{
				type: 'all',
				text: 'All'
			}]
		},

		title: {
			text: '{{serieplots.0.serieplot_timelinechart.timelinechart_title}}'
		},
		legend: {
			enabled: true
		},
		xAxis: {
			ordinal: false,
			{% if timestep == 'hour' %}
			minTickInterval: 60*60*3600,
			minRange: 2*60*60*3600,
			{% endif %}
			{% if timestep == 'day' %}
			minTickInterval: 24*60*60*3600,
			minRange: 2*24*60*60*3600,
			{% endif %}
			{% if timestep == 'month' %}
			minTickInterval: 28*24*60*60*3600,
			minRange: 2*28*24*60*60*3600,
			{% endif %}
			{% if timestep == 'year' %}
			minTickInterval: 364*24*60*60*3600,
			minRange: 2*364*24*60*60*3600,
			{% endif %}
		},
		yAxis: [{
			title: {
				text: '{{serieplots.0.serieplot_timelinechart.timelinechart_yaxis_text}}'
			},
			lineWidth: 2
		}],
		tooltip: {
			{% if timestep == 'hour' %}
			xDateFormat: '%d/%m/%Y %Hh'
			{% endif %}
			{% if timestep == 'day' %}
			xDateFormat: '%d/%m/%Y'
			{% endif %}
			{% if timestep == 'month' %}
			xDateFormat: '%m/%Y'
			{% endif %}
			{% if timestep == 'year' %}
			xDateFormat: '%Y'
			{% endif %}
		},
		series: seriesOption
	});
	}
});
		</script>
{% endblock %}


{% block content %}
{{ block.super }}
<div id="container"></div>
{% endblock %}
