[Unit]
Description=Create initial PostgreSQL database files
ConditionPathExists=|!/data/pgsql/PG_VERSION

[Service]
Type=oneshot

ExecStartPre=/bin/mkdir -p /data/pgsql
ExecStartPre=/bin/chown postgres:postgres /data/pgsql
ExecStart=/bin/su - postgres -c "/usr/bin/pg_ctl initdb -D /data/pgsql"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
