<!doctype html>
<html>

<head>
	<title>Remote Manager - Console de restauration</title>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
	{% block head %}{% endblock %}
</head>

<body>
	<div id="page-wrap">

	<header>
	<h1>Remote Manager - Console de restauration</h1>
	<p>Système en marche depuis {{uptime}}</p>
	<nav>
			<ul class="group">
				<li><a href="/dbinit/">Remise à zéro</a></li>
				<li><a href="/dbbackup/">Sauvegarder</a></li>
				<li><a href="/dbrestore/">Restaurer</a></li>
			</ul>
		</nav>
	</header>

	<section id="main-content">
	<div id="guts">
	{% block content %}{% endblock %}
	</div>
	</section>

	</div>

	<footer>Remote Management system - &copy;2013 Damien Dando</footer>

</body>

</html>
