{% extends "dbrestore.html" %}
{% block content %}{{ super() }}

{% if fileslist == None %}
<p>Impossible d'accéder à la partition de donnée.</p>
{% else %}

{% if fileslist|length == 0 %}
<p>Il n'y a actuellement aucune sauvegarde.</p>
{% else %}
<p>Selectionnez la sauvegarde à restaurer:</p>

<table>
<thead>
	<tr>
		<th>Nom de la sauvegarde</th>
		<th>Taille</th>
		<th>Date</th>
	</tr>
</thead>

<tbody>
</tbody>
{% for filename, filesize, filedate in fileslist %}
	<tr>
		<td><a href="/dbrestore/{{filename}}/">{{filename}}</a></td>
		<td>{{filesize}}</td>
		<td>{{filedate}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

<p></p>
<p><a href="/dbrestore/upload/">Charger une autre sauvegarde</a></p>
{% endif %}
{% endblock %}
