[Unit]
Description=Celery Cam Deamon
Requires=redis.service
After=redis.service

[Service]
Type=simple
PIDFile = /var/run/celerycam.pid
ExecStart = /usr/bin/python /srv/remotemanager/manage.py celerycam --workdir=/srv/remotemanager/ --uid=www-data --pidfile=/var/run/celerycam.pid --logfile=/var/log/celerycam.log --loglevel=WARNING

[Install]
WantedBy=multi-user.target
